.FadeIn_container__bjQVL {
    display: inline-block;
    width: 100%
}

@media (min-width:850px) {
    .FadeIn_container__bjQVL {
        opacity: 0
    }
}

.FadeIn_container__bjQVL[data-fill=true] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.LineByLine_headingOuter__JmusT {
    --clipEnd: 100;
    width: 100%
}

@media (min-width:850px) {
    .LineByLine_headingOuter__JmusT {
        --clipEnd: 0
    }

    .LineByLine_headingOuter__JmusT .split-line {
        overflow: hidden;
        padding-bottom: 1.5rem;
        margin-bottom: -1.5rem
    }

    .LineByLine_headingOuter__JmusT .split-word {
        transform: translateY(calc(100% + 1rem))
    }
}

.LineByLine_headingOuter__JmusT em:after {
    display: block;
    clip-path: polygon(0 0, var(--clipEnd) 0, var(--clipEnd) 100%, 0 100%)
}

.Magnetic_magnetic__LncOy {
    display: inline-block
}

.DarkThemeSwitch_cover__hn_xc,
.Magnetic_magnetic__LncOy[data-fill=true] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.DarkThemeSwitch_cover__hn_xc {
    pointer-events: none;
    z-index: 10
}

.Image_image__RAAdZ.Image_contain__awbZj,
.Image_image__RAAdZ.Image_fill__EiIzS,
.Image_image__RAAdZ.Image_fill__EiIzS img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.Image_image__RAAdZ.Image_contain__awbZj img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain
}

.Image_image__RAAdZ.Image_intrinsic__JRoea img {
    width: 100%;
    height: auto
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: 0;
    margin: 0;
    z-index: -1
}

@media (max-width:768px) {
    .FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-hide-on-mobile=true] {
        display: none
    }
}

@media (min-width:769px) {
    .FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-blur-on-scroll=true] img {
        transform: scale(1.05)
    }
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=top-left] img {
    object-position: top left
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=top-center] img {
    object-position: top center
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=top-right] img {
    object-position: top right
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=center-left] img {
    object-position: center left
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=center-center] img {
    object-position: center center
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=center-right] img {
    object-position: center right
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=bottom-left] img {
    object-position: bottom left
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=bottom-center] img {
    object-position: bottom center
}

.FixedBackgroundImage_fixedBackgroundImage__z_zI2[data-position=bottom-right] img {
    object-position: bottom right
}

.LargeCta_largeCta__ylf5C {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    width: 100%;
    overflow: hidden;
    padding: 3rem 0;
    z-index: 6
}

@media (min-width:769px) {
    .LargeCta_largeCta__ylf5C {
        padding: 10rem 0
    }
}

.LargeCta_largeCta__ylf5C .container {
    height: 100%;
    align-items: center;
    pointer-events: none;
    z-index: 5
}

.LargeCta_largeCta__ylf5C a {
    pointer-events: all
}

.LargeCta_inner__QmWie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 12
}

@media (max-width:768px) {
    .LargeCta_inner__QmWie {
        gap: 2rem;
        flex-direction: column;
        align-items: center
    }
}

.LargeCta_left__YQVnr {
    width: 100%
}

@media (min-width:769px) {
    .LargeCta_left__YQVnr {
        width: 50%
    }
}

.LargeCta_right__5bEnD {
    width: 100%
}

@media (max-width:768px) {
    .LargeCta_right__5bEnD {
        text-align: center
    }
}

@media (min-width:769px) {
    .LargeCta_right__5bEnD {
        width: 45%
    }
}

.LargeCta_mainHeading__IirAl {
    font-size: var(--fs-100);
    font-weight: 400;
    line-height: .95;
    letter-spacing: calc(-20em / 1000);
    margin: 0
}

@media (max-width:768px) {
    .LargeCta_mainHeading__IirAl {
        text-align: center
    }
}

.LargeCta_subHeading__Cs6d8 {
    margin: 1.8ch 0 2rem
}

.LargeCta_subHeading__Cs6d8 p {
    font-size: var(--fs-60);
    font-weight: 400;
    line-height: 1.06
}

@media (max-width:768px) {
    .LargeCta_subHeading__Cs6d8 p {
        font-size: 1.875rem
    }
}

.LargeCta_subHeading__Cs6d8 a {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff);
    background-position: 3px 100%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    transition: var(--animation-primary);
    transition-property: background-size
}

.LargeCta_subHeading__Cs6d8 a:hover {
    background-size: 0 4px
}

.LargeCta_mainText__6MrpN {
    font-size: 1.25rem;
    max-width: 40ch
}

@media (max-width:768px) {
    .LargeCta_mainText__6MrpN {
        font-size: 1.125rem;
        margin: 0 auto
    }
}

.LargeCta_buttonContainer__26iG0 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.LargeCta_popupButton__ia_FB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 10.4375rem;
    aspect-ratio: 1/1;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    border-radius: 100%;
    text-decoration: none;
    cursor: pointer;
    transition: color .15s ease-out
}

@media (min-width:769px) {
    .LargeCta_popupButton__ia_FB {
        max-width: 20.75rem;
        font-size: var(--fs-60)
    }
}

.LargeCta_popupButton__ia_FB:hover {
    color: #000
}

.LargeCta_popupButton__ia_FB:hover .LargeCta_border__Ed4lN {
    transform: scale(.75)
}

.LargeCta_popupButton__ia_FB:hover .LargeCta_buttonBackground__Pfa3U {
    transform: scale(1);
    opacity: 1
}

.LargeCta_popupButton__ia_FB span {
    width: 100%;
    text-align: center;
    padding: .5rem;
    z-index: 2
}

@media screen and (min-width:768px) {
    .LargeCta_popupButton__ia_FB span {
        padding: 1.5rem
    }
}

.LargeCta_popupButton__ia_FB span em {
    font-style: normal
}

.LargeCta_popupButton__ia_FB span em:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 1em;
    bottom: -.9em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.97 10.41"><path d="m.27,10.41l-.27-2.99c1.26-.11,126.69-11.29,172.97-6l-.34,2.98C126.65-.85,1.53,10.29.27,10.41Z" style="fill: %23fff; stroke-width: 0px;"/></svg>');
    background-size: contain;
    background-repeat: no-repeat
}

.LargeCta_border__Ed4lN {
    border: 2px solid #fff;
    transition: transform .3s cubic-bezier(.16, 1, .3, 1)
}

.LargeCta_border__Ed4lN,
.LargeCta_buttonBackground__Pfa3U {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 1
}

.LargeCta_buttonBackground__Pfa3U {
    background-color: #fff;
    transform: scale(.75);
    opacity: 0;
    transition: transform .3s cubic-bezier(.16, 1, .3, 1), opacity .3s cubic-bezier(.16, 1, .3, 1)
}

.Content_content__6vnSh {
    padding: 7rem 0 2rem
}

@media (min-width:769px) {
    .Content_content__6vnSh {
        padding: 10rem 0 5rem
    }
}

.Content_content__6vnSh .prose {
    grid-column: 1/span 12
}

@media (min-width:1200px) {
    .Content_content__6vnSh .prose {
        grid-column: 2/span 8
    }
}

.Content_content__6vnSh h1 {
    font-size: var(--fs-100);
    line-height: 1;
    font-weight: 400
}

.Content_arrow__vjgxh {
    display: none
}

@media (min-width:769px) {
    .Content_arrow__vjgxh {
        position: sticky;
        display: flex;
        height: calc(100vh - 10rem);
        top: 10rem;
        align-items: flex-end;
        justify-content: flex-end;
        grid-column: 12/span 1;
        padding-bottom: 4.5rem
    }
}

.Content_arrow__vjgxh svg {
    width: clamp(2rem, 5vw, 4.5rem)
}

.webgl-background_container__Ojc1v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100lvh;
    overflow: hidden;
    z-index: 1
}

.webgl-background_container__Ojc1v[data-position=absolute] {
    position: absolute;
    height: 100%
}

.webgl-background_container__Ojc1v[data-dark-background=true]:before {
    opacity: .2
}

.webgl-background_container__Ojc1v[data-noise=false]:before {
    display: none
}

.webgl-background_container__Ojc1v:before {
    content: "";
    position: fixed;
    background-image: url(../media/noise-w.ea6f056b.png);
    background-repeat: repeat;
    inset: -10rem;
    animation: webgl-background_noise__uxurv 1.5s steps(2) .01s infinite;
    animation-play-state: running;
    opacity: var(--opacity);
    pointer-events: none;
    z-index: 10
}

.webgl-background_container__Ojc1v canvas {
    display: block
}

@keyframes webgl-background_noise__uxurv {
    0% {
        transform: translate3d(0, 9rem, 0)
    }

    10% {
        transform: translate3d(-1rem, -4rem, 0)
    }

    20% {
        transform: translate3d(-8rem, 2rem, 0)
    }

    30% {
        transform: translate3d(9rem, -9rem, 0)
    }

    40% {
        transform: translate3d(-2rem, 7rem, 0)
    }

    50% {
        transform: translate3d(-9rem, -4rem, 0)
    }

    60% {
        transform: translate3d(2rem, 6rem, 0)
    }

    70% {
        transform: translate3d(7rem, -8rem, 0)
    }

    80% {
        transform: translate3d(-9rem, 1rem, 0)
    }

    90% {
        transform: translate3d(6rem, -5rem, 0)
    }

    to {
        transform: translate3d(-7rem, 0, 0)
    }
}