.StartYourProject_startYourProject__k9Ery~footer {
    background-color: transparent !important
}

.StartYourProject_formContainer__1orOr {
    grid-column: span 12;
    color: #fff
}

@media (max-width:768px) {
    .StartYourProject_formContainer__1orOr {
        margin-bottom: -7rem
    }
}

.FadeIn_container__bjQVL {
    display: inline-block;
    width: 100%
}

@media (min-width:850px) {
    .FadeIn_container__bjQVL {
        opacity: 0
    }
}

.FadeIn_container__bjQVL[data-fill=true] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.LineByLine_headingOuter__JmusT {
    --clipEnd: 100;
    width: 100%
}

@media (min-width:850px) {
    .LineByLine_headingOuter__JmusT {
        --clipEnd: 0
    }

    .LineByLine_headingOuter__JmusT .split-line {
        overflow: hidden;
        padding-bottom: 1.5rem;
        margin-bottom: -1.5rem
    }

    .LineByLine_headingOuter__JmusT .split-word {
        transform: translateY(calc(100% + 1rem))
    }
}

.LineByLine_headingOuter__JmusT em:after {
    display: block;
    clip-path: polygon(0 0, var(--clipEnd) 0, var(--clipEnd) 100%, 0 100%)
}

.Form_contactForm__X6bdS {
    z-index: 2
}

.Form_contactForm__X6bdS[data-theme=light] {
    --primary: #000;
    --secondary: #fff
}

.Form_contactForm__X6bdS[data-theme=dark] {
    --primary: #fff;
    --secondary: #000
}

.Form_formOuter__NHTHq,
.Form_form___noC4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    grid-column: span 10
}

.Form_form___noC4 {
    margin: 0 0 10vh
}

.Form_form___noC4.Form_sent__uX3U5 {
    pointer-events: none;
    opacity: .5
}

.Form_form___noC4 [aria-live] {
    width: 100%;
    margin-top: 2rem
}

.Form_form___noC4 fieldset {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .9375rem .75rem;
    border: 0;
    padding: 0;
    margin: 0 0 2.5rem
}

@media (min-width:850px) {
    .Form_form___noC4 fieldset {
        gap: 1.2rem;
        margin: 0 0 4rem
    }
}

.Form_form___noC4 fieldset legend {
    font-size: var(--fs-50);
    font-weight: 400;
    margin-bottom: .35em
}

.Form_form___noC4 fieldset label {
    display: flex
}

@media (min-width:769px) {
    .Form_form___noC4 fieldset label:hover .Form_button__WKdUX {
        background-color: var(--primary);
        color: var(--secondary)
    }
}

.Form_form___noC4 fieldset .Form_button__WKdUX {
    font-family: var(--montreal);
    font-size: 1.125rem;
    line-height: 1 !important;
    font-weight: 400;
    padding: .4rem .55rem .5rem;
    background-color: transparent;
    border-radius: 2.0625rem;
    color: var(--primary);
    transition: background-color .2s ease, color .2s ease, opacity .2s ease, border-color .2s ease;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    border: 2px solid var(--primary)
}

@media (min-width:850px) {
    .Form_form___noC4 fieldset .Form_button__WKdUX {
        font-size: var(--fs-24);
        padding: .8rem 1.4rem .9rem
    }
}

.Form_form___noC4 fieldset input[type=checkbox] {
    appearance: none;
    width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0
}

:is(.Form_form___noC4 fieldset) input[type=checkbox]:checked~.Form_button__WKdUX {
    background-color: var(--primary);
    color: var(--secondary)
}

.Form_form___noC4 input[type=email],
.Form_form___noC4 input[type=text] {
    appearance: none;
    border-radius: 0;
    font-size: clamp(1.375rem, 1.5vw, 1.875rem);
    line-height: 1.8;
    color: var(--primary);
    border: none;
    border-bottom: 1.5px solid var(--primary);
    background: transparent
}

.Form_form___noC4 input[type=email]::placeholder,
.Form_form___noC4 input[type=text]::placeholder {
    color: var(--primary)
}

.Form_form___noC4 input[type=email]:-webkit-autofill,
.Form_form___noC4 input[type=email]:-webkit-autofill:focus,
.Form_form___noC4 input[type=text]:-webkit-autofill,
.Form_form___noC4 input[type=text]:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important
}

.Form_halfWidth__mwquS {
    width: 100%;
    margin-bottom: 2rem
}

@media (min-width:500px) {
    .Form_halfWidth__mwquS {
        width: 47.5%
    }
}

.Form_halfWidth__mwquS.Form_uploads__8vsGL {
    width: 100%
}

@media (min-width:850px) {
    .Form_halfWidth__mwquS.Form_uploads__8vsGL {
        width: 47.5%
    }
}

@media (min-width:769px) and (max-width:850px) {
    .Form_halfWidth__mwquS.Form_uploads__8vsGL {
        margin-bottom: 2rem
    }
}

.Form_halfWidth__mwquS.Form_budget__0YVbL,
.Form_halfWidth__mwquS.Form_budget__0YVbL .Form_inputBudget__lcmBw {
    width: 100%
}

.Form_halfWidth__mwquS.Form_budget__0YVbL .Form_budgetDescription__Yaew0 {
    display: block;
    font-size: 16px;
    margin-top: .875rem
}

.Form_halfWidth__mwquS.Form_budget__0YVbL .Form_budgetDescription__Yaew0 a {
    text-decoration: underline;
    color: inherit
}

@media (min-width:850px) {
    .Form_halfWidth__mwquS.Form_budget__0YVbL {
        width: 47.5%
    }
}

@media (min-width:769px) and (max-width:850px) {
    .Form_halfWidth__mwquS.Form_budget__0YVbL {
        margin-bottom: 2rem
    }
}

.Form_halfWidth__mwquS.Form_email__utu1q {
    width: 100%
}

@media (min-width:850px) {
    .Form_halfWidth__mwquS.Form_email__utu1q {
        width: 47.5%
    }
}

@media (min-width:769px) and (max-width:850px) {
    .Form_halfWidth__mwquS.Form_email__utu1q {
        margin-bottom: 2rem
    }
}

.Form_quarterWidth__sYVWE {
    width: 100%;
    margin-bottom: 2rem
}

@media (min-width:500px) {
    .Form_quarterWidth__sYVWE {
        width: 47.5%
    }
}

@media (min-width:850px) {
    .Form_quarterWidth__sYVWE {
        width: 21.5%
    }
}

.Form_fullWidth__8_h_i {
    width: 100%;
    margin-bottom: 2rem
}

.Form_bottomRow__9ypJg {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .6rem
}

.Form_bottomRow__9ypJg label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: var(--montreal);
    font-size: .95rem;
    line-height: 1.2;
    color: var(--primary)
}

@media (min-width:769px) {
    .Form_bottomRow__9ypJg label {
        font-size: 1.125rem
    }
}

.Form_bottomRow__9ypJg .Form_checkbox__UtgyE {
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 100%;
    border: 1.5px solid var(--primary);
    flex-shrink: 0;
    margin-right: .75rem;
    transition: background-color .2s ease
}

.Form_bottomRow__9ypJg input[type=checkbox] {
    position: absolute;
    top: calc(50% + .5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden
}

.Form_bottomRow__9ypJg input[type=checkbox]:checked~.Form_checkbox__UtgyE,
.Form_submit__Dnq6N {
    background-color: var(--primary)
}

.Form_submit__Dnq6N {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
    font-family: var(--montreal);
    font-size: clamp(1.25rem, 1.5vw, 1.875rem);
    font-weight: 600;
    line-height: 1 !important;
    font-weight: 400;
    padding: .75rem 2.15rem .85rem 1.5rem;
    border-radius: 2.0625rem;
    color: var(--secondary);
    transition: background-color .2s ease, color .2s ease, opacity .2s ease, border-color .2s ease;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    border: 2px solid var(--primary);
    margin-top: 1.25rem
}

@media (min-width:769px) {
    .Form_submit__Dnq6N {
        padding: .75rem 3.125rem .85rem 1.5rem
    }
}

@media (min-width:1200px) {
    .Form_submit__Dnq6N {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-top: 0
    }
}

.Form_submit__Dnq6N[aria-disabled=true] {
    opacity: .5;
    pointer-events: none
}

@media (min-width:769px) {
    .Form_submit__Dnq6N:hover .Form_button-text__MCGRV {
        transform: translateX(-.8rem)
    }

    .Form_submit__Dnq6N:hover .Form_buttonArrow__OCLQj {
        opacity: 1;
        color: var(--secondary);
        transform: translate(.25rem, -50%);
        transition: opacity .2s ease-in-out, transform .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out
    }
}

.Form_submit__Dnq6N .Form_button-text__MCGRV {
    transition: transform .3s ease-in-out
}

.Form_submit__Dnq6N .Form_buttonArrow__OCLQj {
    position: absolute;
    top: 50%;
    right: .75rem;
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out, color .2s ease-in-out;
    width: 14px;
    margin-left: .5rem;
    color: var(--secondary);
    opacity: 1
}

@media (min-width:769px) {
    .Form_submit__Dnq6N .Form_buttonArrow__OCLQj {
        width: 18px;
        right: 1.1875rem;
        margin-left: .5rem
    }
}

.Form_uploads__8vsGL {
    display: flex;
    align-items: baseline;
    gap: .8rem;
    font-size: clamp(1.375rem, 1.5vw, 1.875rem);
    line-height: 1.8;
    color: var(--primary);
    border-bottom: 1px solid var(--primary)
}

@media (max-width:768px) {
    .Form_uploads__8vsGL {
        margin-bottom: 2rem
    }
}

.Form_uploads__8vsGL svg {
    width: 1.1rem
}

.Form_inputfile__ZF6M3 {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.Form_inputfile__ZF6M3+label {
    display: inline-block;
    font-size: clamp(1.375rem, 1.5vw, 1.875rem);
    line-height: 1.8;
    color: var(--primary)
}

.CopyText_copyText__OtWNq,
.Form_inputfile__ZF6M3+label {
    cursor: pointer
}

@media screen and (min-width:768px) {
    .CopyText_copyText__OtWNq:hover .CopyText_tooltip__HuxWa {
        transition: all .3s ease;
        opacity: 1
    }
}

.CopyText_tooltip__HuxWa {
    background-color: #fff;
    font-size: 16px;
    position: absolute;
    color: #000;
    line-height: 1;
    border-radius: 6px;
    letter-spacing: 0;
    text-wrap: nowrap;
    padding: 10px 15px;
    font-weight: 400;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    top: 102%;
    left: 50%;
    transform: translateX(-50%)
}

.CopyText_tooltip__HuxWa.CopyText_mobile__rHEGN {
    opacity: 1
}

@media screen and (min-width:768px) {
    .CopyText_tooltip__HuxWa {
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 20px
    }
}

.CopyText_tooltip__HuxWa:after {
    content: "";
    position: absolute;
    display: block;
    margin-bottom: -4px;
    bottom: 100%;
    left: 50%;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    transform: translate(-50%)
}

@media screen and (min-width:768px) {
    .CopyText_tooltip__HuxWa:after {
        margin-left: -2px;
        border-width: 10px
    }

    .CopyText_tooltip__HuxWa[data-position=left] {
        top: 50%;
        left: unset;
        right: 100%;
        transform: translateY(-50%)
    }

    .CopyText_tooltip__HuxWa[data-position=left]:after {
        margin-bottom: unset;
        margin-left: -4px;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        bottom: unset;
        border-color: transparent transparent transparent #fff
    }
}

.Hero_hero___sHVr {
    padding: 7.5rem 0 6rem;
    z-index: 2
}

@media (min-width:769px) {
    .Hero_hero___sHVr {
        padding: 25vh 0 15vh
    }
}

.Hero_heading__e5cOe {
    grid-column: span 7;
    font-size: var(--fs-60);
    font-weight: 400;
    line-height: 1;
    letter-spacing: calc(-10em / 1000);
    margin: 0;
    transform: translateY(-.3ch)
}

@media (max-width:768px) {
    .Hero_heading__e5cOe {
        margin-bottom: 2rem
    }
}

.Hero_heading__e5cOe em {
    font-style: normal
}

.Hero_heading__e5cOe em:after {
    content: "";
    position: absolute;
    width: 103%;
    left: -.1ch;
    right: 0;
    height: 1em;
    bottom: -.9em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 382 14.13"><path d="m.17,14.13l-.17-3,1.5-.08C3.74,10.92,227.21-1.77,380.5.21l1.5.02-.04,3-1.5-.02C227.27,1.22,3.91,13.91,1.67,14.04l-1.5.09Z" style="fill: %23fff;"/></svg>');
    background-size: contain;
    background-repeat: no-repeat
}

.Hero_right__B8VBZ {
    display: flex;
    flex-direction: column;
    grid-column: 9/span 4
}

.Hero_rightInner__Us8lf {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

@media (max-width:768px) {
    .Hero_moreInfo__NPZ6p {
        font-size: 1.125rem
    }

    .Hero_moreInfo__NPZ6p br {
        display: none
    }
}

.Hero_moreInfo__NPZ6p a {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff);
    background-position: 3px 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    transition: var(--animation-primary);
    transition-property: background-size
}

.Hero_moreInfo__NPZ6p a:hover {
    background-size: 0 1px
}

@keyframes Hero_rainbow__Fb5ud {
    0% {
        background-position: 0
    }

    50% {
        background-position: 100%
    }

    to {
        background-position: 0
    }
}

.Hero_contactHeading__GkIRu {
    font-size: 1.25rem;
    font-weight: 400;
    color: #7b7b7b;
    margin: 0 0 .75rem
}

@media (min-width:769px) {
    .Hero_contactHeading__GkIRu {
        margin: 0
    }
}

.Hero_contactLink___XQ3g {
    font-size: var(--fs-40);
    font-weight: 400;
    line-height: 1;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #633cc9, #3b8392, #cb24cc);
    background-size: 200% 200%;
    animation: Hero_rainbow__Fb5ud 3s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    transition: color .5s ease
}

@media (max-width:768px) {
    .Hero_contactLink___XQ3g {
        font-size: 1.5rem
    }
}

.Hero_contactLink___XQ3g:hover {
    color: transparent
}

.webgl-background_container__Ojc1v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100lvh;
    overflow: hidden;
    z-index: 1
}

.webgl-background_container__Ojc1v[data-position=absolute] {
    position: absolute;
    height: 100%
}

.webgl-background_container__Ojc1v[data-dark-background=true]:before {
    opacity: .2
}

.webgl-background_container__Ojc1v[data-noise=false]:before {
    display: none
}

.webgl-background_container__Ojc1v:before {
    content: "";
    position: fixed;
    background-image: url(../media/noise-w.ea6f056b.png);
    background-repeat: repeat;
    inset: -10rem;
    animation: webgl-background_noise__uxurv 1.5s steps(2) .01s infinite;
    animation-play-state: running;
    opacity: var(--opacity);
    pointer-events: none;
    z-index: 10
}

.webgl-background_container__Ojc1v canvas {
    display: block
}

@keyframes webgl-background_noise__uxurv {
    0% {
        transform: translate3d(0, 9rem, 0)
    }

    10% {
        transform: translate3d(-1rem, -4rem, 0)
    }

    20% {
        transform: translate3d(-8rem, 2rem, 0)
    }

    30% {
        transform: translate3d(9rem, -9rem, 0)
    }

    40% {
        transform: translate3d(-2rem, 7rem, 0)
    }

    50% {
        transform: translate3d(-9rem, -4rem, 0)
    }

    60% {
        transform: translate3d(2rem, 6rem, 0)
    }

    70% {
        transform: translate3d(7rem, -8rem, 0)
    }

    80% {
        transform: translate3d(-9rem, 1rem, 0)
    }

    90% {
        transform: translate3d(6rem, -5rem, 0)
    }

    to {
        transform: translate3d(-7rem, 0, 0)
    }
}